@import "~bootstrap";

.app {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    min-height: 100vh;
}

.outlined-block {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.form {
    padding: 30px;
}

.result-page {
    padding: 110px 40px;
}

.result-page p {
    margin-top: 12px;
    font-size: 1rem;
    line-height: 25px;
}

.tittle {
    font-size: 1.875rem;
    line-height: 40px;
}

.description {
    color: rgba(0, 0, 0, 0.6);
}

.inputs {
    margin: 20px 0;
}

input {
    padding: 5px 10px;
    font-style: 1.125rem;
    width: 100%;
    height: 40px;
    line-height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(221, 221, 221, 1);
    border-radius: 5px;
    resize: none;
    line-height: 25px;
}

.error {
    margin-top: 5px;
    color: rgba(255, 102, 102, 1);
    font-size: 1rem;
    line-height: 25px;
}

button {
    margin-top: 20px;
    padding: 5px 10px;
    color: white;
    font-size: 1.125rem;
    background: #c4c4c4 linear-gradient(180deg, #45a6ff 0%, #0055fb 100%);
    border-radius: 5px;
}

button:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(180deg, #45a6ff 0%, #0055fb 100%), #c4c4c4;
}

button:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(180deg, #45a6ff 0%, #0055fb 100%), #c4c4c4;
}

button:disabled {
    background: linear-gradient(0deg, #c4c4c4, #c4c4c4), linear-gradient(180deg, #45a6ff 0%, #0055fb 100%);
}

.info-page {
    padding: 53px;
}

.info-page h4 {
    font-size: 1.5rem;
    line-height: 30px;
}

.info-page table {
    width: 100%;
    margin-top: 20px;
}

.info-page table thead {
    color: rgba(0, 0, 0, 0.3);
}

.info-page table thead td {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.info-page table .table-left-col {
    width: 100px;
}

.info-page table .table-center-col {
    width: 490px;
}

.info-page table .table-right-col {
    width: 100px;
    text-align: right;
}
